---
import BaseLayout from '../../layouts/BaseLayout.astro';

import '../../styles/przykladowa-oferta.css';

const pageTitle = 'Przykładowa oferta • Ubezpieczenie grupowe'
---

<BaseLayout pageTitle={pageTitle}>
	<h3 class="table-caption">Przykładowa oferta</h3>
	<div class="table-container">
		<table class="offer-table">
			<!-- <caption class="table-caption">Porównanie ofert wg najczęstszych zdarzeń ubezpieczeniowych</caption> -->
			<thead>
				<tr>
                    <th>Zakres głowny ubezpieczenia</th>
                    <th>
                        SINGIEL
                        <div>80 zł</div>
                    </th>
                    <th>
                        RODZINA
                        <div>80 zł</div>
                    </th>
                    <th>
                        SINGIEL
                        <div>100 zł</div>
                    </th>
                    <th>
                        RODZINA
                        <div>100 zł</div>
                    </th>
                    <th>
                        VIP
                        <div>199 zł</div>
                    </th>
                    <th>
                        VIP
                        <div>220 zł</div>
                    </th>
                </tr>
			</thead>
			<tbody>
				<tr>
                    <td>ZGON UBEZPIECZONEGO Z DOWOLNEJ PRZYCZYNY</td>
                    <td>80 000 zł</td>
                    <td>50 000 zł</td>
                    <td>100 000 zł</td>
                    <td>80 000 zł</td>
                    <td>150 000 zł</td>
                    <td>190 000 zł</td>
                </tr>
                <tr>
                    <td>ZGON w NNW</td>
                    <td>160 000 zł</td>
                    <td>100 000 zł</td>
                    <td>200 000 zł</td>
                    <td>160 000 zł</td>
                    <td>300 000 zł</td>
                    <td>580 000 zł</td>
                </tr>
                <tr>
                    <td>ZGON w NNW KOMUNIKACYJNEGO</td>
                    <td>240 000 zł</td>
                    <td>150 000 zł</td>
                    <td>300 000 zł</td>
                    <td>240 000 zł</td>
                    <td>450 000 zł</td>
                    <td>970 000 zł</td>
                </tr>
                <tr>
                    <td>ZGON w NNW w pracy</td>
                    <td>240 000 zł</td>
                    <td>150 000 zł</td>
                    <td>300 000 zł</td>
                    <td>240 000 zł</td>
                    <td>450 000 zł</td>
                    <td>700 000 zł</td>
                </tr>
                <tr>
                    <td>ZGON w NNW KOMUNIKACYJNEGO w pracy</td>
                    <td>320 000 zł</td>
                    <td>200 000 zł</td>
                    <td>400 000 zł</td>
                    <td>320 000 zł</td>
                    <td>600 000 zł</td>
                    <td>1 000 000 zł</td>
                </tr>
                <tr>
                    <td>ZGON UBEZPIECZONEGO - ZAWAŁ / UDAR MÓZGU</td>
                    <td>160 000 zł</td>
                    <td>50 000 zł</td>
                    <td>200 000 zł</td>
                    <td>80 000 zł</td>
                    <td>300 000 zł</td>
                    <td>350 000 zł</td>
                </tr>
                <tr>
                    <td class="cell-dark">USZCZERBEK NA ZDROWIU w NW za 1% (bez definicji <strong>TRWAŁY</strong>)</td>
                    <td>500 zł</td>
                    <td>500 zł</td>
                    <td>800 zł</td>
                    <td>800 zł</td>
                    <td>1 500 zł</td>
                    <td>2 000 zł</td>
                </tr>
                <tr>
                    <td class="cell-dark">USZCZERBEK NA ZDROWIU w NW w PRACY za 1% (bez definicji <strong>TRWAŁY</strong>)</td>
                    <td>500 zł</td>
                    <td>500 zł</td>
                    <td>800 zł</td>
                    <td>800 zł</td>
                    <td>3 000 zł</td>
                    <td>2 000 zł</td>
                </tr>
                <tr>
                    <td class="cell-dark">USZCZERBEK NA ZDROWIU w NW KOMUNIKACYJNEGO w PRACY za 1% (bez definicji <strong>TRWAŁY</strong>)</td>
                    <td>500 zł</td>
                    <td>500 zł</td>
                    <td>800 zł</td>
                    <td>800 zł</td>
                    <td>4 500 zł</td>
                    <td>2 000 zł</td>
                </tr>
                <tr>
                    <td class="cell-dark">USZCZERBEK NA ZDROWIU - ZAWAŁ / UDAR MÓZGU za 1%</td>
                    <td>500 zł</td>
                    <td>500 zł</td>
                    <td>550 zł</td>
                    <td>500 zł</td>
                    <td>500 zł</td>
                    <td>700 zł</td>
                </tr>
                <tr>
                    <td>NIEZDOLNOŚĆ do PRACY - NW</td>
                    <td>50 000 zł</td>
                    <td>50 000 zł</td>
                    <td>65 000 zł</td>
                    <td>80 000 zł</td>
                    <td>150 000 zł</td>
                    <td>100 000 zł</td>
                </tr>
                <tr>
                    <td>NIEZDOLNOŚĆ do PRACY - CHOROBA</td>
                    <td>50 000 zł</td>
                    <td>50 000 zł</td>
                    <td>65 000 zł</td>
                    <td>80 000 zł</td>
                    <td>220 000 zł</td>
                    <td>100 000 zł</td>
                </tr>
                <tr>
                    <td class="cell-dark">POWAŻNA CHOROBA - <strong>58 chorób</strong> w tym:</td>
                    <td>5 000 zł</td>
                    <td>5 000 zł</td>
                    <td>10 000 zł</td>
                    <td>10 000 zł</td>
                    <td>50 000 zł</td>
                    <td>47 000 zł</td>
                </tr>
                <tr>
                    <td class="cell-dark">ANGIOPLASTYKA NACZYŃ WIEŃCOWYCH</td>
                    <td>5 000 zł</td>
                    <td>5 000 zł</td>
                    <td>10 000 zł</td>
                    <td>10 000 zł</td>
                    <td>10 000 zł</td>
                    <td>27 000 zł</td>
                </tr>
                <tr>
                    <td class="cell-dark"><strong>CHOROBY ZAKAŹNE - 9 chorób:</strong></td>
                    <td>7 000 zł</td>
                    <td>1 000 zł</td>
                    <td>10 000 zł</td>
                    <td>2 000 zł</td>
                    <td>10 000 zł</td>
                    <td>6 500 zł</td>
                </tr>
                <tr>
                    <td class="cell-dark">ŚWIADCZENIE LEKOWE po DIAGNOZIE POWAŻNEJ CHOROBY</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1 000 zł</td>
                </tr>
                <tr>
                    <td class="cell-dark"><strong>PRE-DIAGNOZA</strong> ŚWIADCZENIA MEDYCZNE W PRZYPADKU PODEJRZENIA POWAŻNEJ CHOROBY</td>
                    <td></td>
                    <td>TAK</td>
                    <td></td>
                    <td>TAK</td>
                    <td></td>
                    <td>TAK</td>
                </tr>
                <tr>
                    <td class="cell-dark"><strong>PRE-DIAGNOZA</strong> - BADANIA DIAGNOSTYCZNE - <strong>USG, EKG, RTG, TK, MR</strong>, KONSULTACJE MEDYCZNE</td>
                    <td></td>
                    <td>3 000 zł</td>
                    <td></td>
                    <td>3 000 zł</td>
                    <td></td>
                    <td>3 000 zł</td>
                </tr>
                <tr>
                    <td class="cell-dark"><strong>LECZENIE SPECJLISTYCZNE - 11 PROCEDUR</strong></td>
                    <td>6 000 zł</td>
                    <td>5 000 zł</td>
                    <td>10 000 zł</td>
                    <td>5 000 zł</td>
                    <td>10 000 zł</td>
                    <td>9 000 zł</td>
                </tr>
                <tr>
                    <td class="cell-dark">POWTÓRNA OPINIA MEDYCZNA w WYNIKU DIAGNOZY POWAŻNEGO ZACHOROWANIA - <strong>ZAGRANICZNA</strong></td>
                    <td>TAK</td>
                    <td>TAK</td>
                    <td>TAK</td>
                    <td>TAK</td>
                    <td>TAK</td>
                    <td>TAK</td>
                </tr>
                <tr>
                    <td>OPERACJE CHIRURGICZNE</td>
                    <td>5 000 zł</td>
                    <td>5 000 zł</td>
                    <td>5 000 zł</td>
                    <td>5 000 zł</td>
                    <td>10 000 zł</td>
                    <td>7 000 zł</td>
                </tr>
                <tr>
                    <td>OPERACJE CHIRURGICZNE w NNW</td>
                    <td>5 000 zł</td>
                    <td>5 000 zł</td>
                    <td>5 000 zł</td>
                    <td>5 000 zł</td>
                    <td>20 000 zł</td>
                    <td>10 000 zł</td>
                </tr>
                <tr>
                    <td>ŚWIADCZENIE LEKOWE po OPERACJI</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1 000 zł</td>
                    <td>1 000 zł</td>
                </tr>
                <tr>
                    <td class="cell-dark">
                        SZPITAL - CHOROBA + SOR
                        <div class="cell-tooltip">
                            <ion-icon class="cell-tooltip-icon" name="information-circle"></ion-icon>
                            <span class="cell-tooltip-text">
                                Wypłata świadczenia od 1. dnia pobytu w szpitalu bez wymogu 
                                zmiany daty w stanach chorobowych oraz w NW
                            </span>
                        </div>
                    </td>
                    <td>100 zł</td>
                    <td>100 zł</td>
                    <td>100 zł</td>
                    <td>100 zł</td>
                    <td>200 zł</td>
                    <td>160 zł</td>
                </tr>
                <tr>
                    <td class="cell-dark">
                        SZPITAL - ZAWAŁ SERCA / UDAR MÓZGU / NOWOTWÓR + SOR
                        <div class="cell-tooltip">
                            <ion-icon class="cell-tooltip-icon" name="information-circle"></ion-icon>
                            <span class="cell-tooltip-text">
                                Wypłata świadczenia od 1. dnia pobytu w szpitalu bez wymogu 
                                zmiany daty w stanach chorobowych oraz w NW
                            </span>
                        </div>
                    </td>
                    <td>100 zł</td>
                    <td>100 zł</td>
                    <td>100 zł</td>
                    <td>135 zł</td>
                    <td>300 zł</td>
                    <td>190 zł</td>
                </tr>
                <tr>
                    <td class="cell-dark">
                        SZPITAL - w NW + SOR
                        <div class="cell-tooltip">
                            <ion-icon class="cell-tooltip-icon" name="information-circle"></ion-icon>
                            <span class="cell-tooltip-text">
                                Wypłata świadczenia od 1. dnia pobytu w szpitalu bez wymogu 
                                zmiany daty w stanach chorobowych oraz w NW
                            </span>
                        </div>
                    </td>
                    <td>200 zł</td>
                    <td>200 zł</td>
                    <td>200 zł</td>
                    <td>200 zł</td>
                    <td>300 zł</td>
                    <td>660 zł</td>
                </tr>
                <tr>
                    <td class="cell-dark">
                        SZPITAL - w NW KOMUNIKACYJNEGO + SOR
                        <div class="cell-tooltip">
                            <ion-icon class="cell-tooltip-icon" name="information-circle"></ion-icon>
                            <span class="cell-tooltip-text">
                                Wypłata świadczenia od 1. dnia pobytu w szpitalu bez wymogu 
                                zmiany daty w stanach chorobowych oraz w NW
                            </span>
                        </div>
                    </td>
                    <td>300 zł</td>
                    <td>300 zł</td>
                    <td>300 zł</td>
                    <td>400 zł</td>
                    <td>500 zł</td>
                    <td>850 zł</td>
                </tr>
                <tr>
                    <td class="cell-dark">
                        SZPITAL - w NW w PRACY + SOR
                        <div class="cell-tooltip">
                            <ion-icon class="cell-tooltip-icon" name="information-circle"></ion-icon>
                            <span class="cell-tooltip-text">
                                Wypłata świadczenia od 1. dnia pobytu w szpitalu bez wymogu 
                                zmiany daty w stanach chorobowych oraz w NW
                            </span>
                        </div>
                    </td>
                    <td>400 zł</td>
                    <td>400 zł</td>
                    <td>400 zł</td>
                    <td>400 zł</td>
                    <td>500 zł</td>
                    <td>860 zł</td>
                </tr>
                <tr>
                    <td class="cell-dark">
                        SZPITAL - w NW KOMUNIKACYJNEGO w PRACY + SOR
                        <div class="cell-tooltip">
                            <ion-icon class="cell-tooltip-icon" name="information-circle"></ion-icon>
                            <span class="cell-tooltip-text">
                                Wypłata świadczenia od 1. dnia pobytu w szpitalu bez wymogu 
                                zmiany daty w stanach chorobowych oraz w NW
                            </span>
                        </div>
                    </td>
                    <td>500 zł</td>
                    <td>500 zł</td>
                    <td>500 zł</td>
                    <td>600 zł</td>
                    <td>500 zł</td>
                    <td>1 720 zł</td>
                </tr>
                <tr>
                    <td class="cell-dark">POBYT NA OIOM - wartość łączna za 5 dni pobytu</td>
                    <td>500 zł</td>
                    <td>1 000 zł</td>
                    <td>500 zł</td>
                    <td>1 000 zł</td>
                    <td>500 zł</td>
                    <td>1 000 zł</td>
                </tr>
                <tr>
                    <td class="cell-dark">REKONWALESCENCJA - wartość łączna za 30 dni pobytu</td>
                    <td>250 zł</td>
                    <td>1 050 zł</td>
                    <td>250 zł</td>
                    <td>1 050 zł</td>
                    <td>250 zł</td>
                    <td>1 050 zł</td>
                </tr>
                <tr>
                    <td class="cell-dark">ŚWIADCZENIE LEKOWE po POBYCIE W SZPITALU</td>
                    <td>100 zł</td>
                    <td>100 zł</td>
                    <td>100 zł</td>
                    <td>200 zł</td>
                    <td>1 000 zł 
                        <span class="cell-tooltip-2">
                            <div class="cell-tooltip-icon-2">*</div>
                            <span class="cell-tooltip-text">
                                Po 4 dniach pobytu w szpitalu
                            </span>
                        </span>
                    </td>
                    <td>200 zł</td>
                </tr>
                <tr>
                    <td>LIMIT w ZAKRESIE ASSISTANCE na KAŻDE ZDARZENIE dla KAŻDEGO CZŁONKA RODZINY</td>
                    <td>6 000 zł</td>
                    <td>10 000 zł</td>
                    <td>6 000 zł</td>
                    <td>10 000 zł</td>
                    <td>6 000 zł</td>
                    <td>10 000 zł</td>
                </tr>
                <tr>
                    <td>PRYWATNE WIZYTY LEKARSKIE dla <strong>WSZYSTKICH CZŁONKÓW RODZINY</strong> w NW</td>
                    <td>TAK</td>
                    <td>TAK</td>
                    <td>TAK</td>
                    <td>TAK</td>
                    <td>TAK</td>
                    <td>TAK</td>
                </tr>
                <tr>
                    <td>PRYWATNE WIZYTY LEKARSKIE dla <strong>WSZYSTKICH CZŁONKÓW RODZINY</strong> - WIZYTY DOMOWE (PEDIATRA INTERNISTA)</td>
                    <td>TAK</td>
                    <td>TAK</td>
                    <td>TAK</td>
                    <td>TAK</td>
                    <td>TAK</td>
                    <td>TAK</td>
                </tr>
                <tr>
                    <td>PRYWATNE WIZYTY LEKARSKIE dla <strong>WSZYSTKICH CZŁONKÓW RODZINY</strong> - POZOSTAŁE SPECJALIZACJE MEDYCZNE</td>
                    <td>TAK</td>
                    <td>TAK</td>
                    <td>TAK</td>
                    <td>TAK</td>
                    <td>TAK</td>
                    <td>TAK</td>
                </tr>
                <tr>
                    <td>REHABILITACJA w NW dla <strong>WSZYSTKICH CZŁONKÓW RODZINY</strong></td>
                    <td>TAK</td>
                    <td>TAK</td>
                    <td>TAK</td>
                    <td>TAK</td>
                    <td>TAK</td>
                    <td>TAK</td>
                </tr>
                <tr>
                    <td>REHABILITACJA w STANACH CHOROBOWYCH dla <strong>WSZYSTKICH CZŁONKÓW RODZINY</strong></td>
                    <td>TAK</td>
                    <td>TAK</td>
                    <td>TAK</td>
                    <td>TAK</td>
                    <td>TAK</td>
                    <td>TAK</td>
                </tr>
                <tr>
                    <td class="cell-dark">ZGON WSPÓŁMAŁŻONKA / PARTNERA</td>
                    <td></td>
                    <td>15 000 zł</td>
                    <td></td>
                    <td>20 000 zł</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="cell-dark">ZGON WSPÓŁMAŁŻONKA / PARTNERA w NW</td>
                    <td></td>
                    <td>30 000 zł</td>
                    <td></td>
                    <td>40 000 zł</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="cell-dark">ZGON WSPÓŁMAŁŻONKA / PARTNERA w NW KOMUNIKACYJNYM</td>
                    <td></td>
                    <td>45 000 zł</td>
                    <td></td>
                    <td>60 000 zł</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="cell-dark">ZGON WSPÓŁMAŁŻONKA / PARTNERA - ZAWAŁ SERCA / UDAR MÓZGU</td>
                    <td></td>
                    <td>15 000 zł</td>
                    <td></td>
                    <td>20 000 zł</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>URODZENIE DZIECKA</td>
                    <td></td>
                    <td>1 500 zł</td>
                    <td></td>
                    <td>1 500 zł</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>URODZENIE DZIECKA - CIĄŻA MNOGA</td>
                    <td></td>
                    <td>1 500 zł</td>
                    <td></td>
                    <td>1 500 zł</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>URODZENIE DZIECKA WYMAGAJĄCEGO LECZENIA (5 do 8 w skali APGAR)</td>
                    <td></td>
                    <td>4 000 zł</td>
                    <td></td>
                    <td>4 000 zł</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>URODZENIE DZIECKA WYMAGAJĄCEGO LECZENIA (0 do 4 w skali APGAR)</td>
                    <td></td>
                    <td>8 000 zł</td>
                    <td></td>
                    <td>8 000 zł</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>URODZENIE MARTWEGO NOWORODKA (po 22 tyg. ciąży)</td>
                    <td></td>
                    <td>4 000 zł</td>
                    <td></td>
                    <td>4 000 zł</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>URODZENIE MARTWEGO NOWORODKA - PORONIENIE (przed upływem 22 tyg. ciąży)</td>
                    <td></td>
                    <td>2 000 zł</td>
                    <td></td>
                    <td>2 000 zł</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>OSIEROCENIE DZIECKA przez JEDNEGO z RODZICÓW</td>
                    <td></td>
                    <td>5 000 zł</td>
                    <td></td>
                    <td>5 000 zł</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>OSIEROCENIE DZIECKA przez OBOJE RODZICÓW w WYNIKU TEGO SAMEGO NIESZCZĘŚLIWEGO WYPADKU</td>
                    <td></td>
                    <td>10 000 zł</td>
                    <td></td>
                    <td>10 000 zł</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>USZCZERBEK NA ZDROWIU DZIECKA</td>
                    <td></td>
                    <td>100 zł</td>
                    <td></td>
                    <td>100 zł</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>POBYT DZIECKA w SZPITALU - CHOROBA</td>
                    <td></td>
                    <td>30 zł</td>
                    <td></td>
                    <td>30 zł</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>POBYT DZIECKA w SZPITALU - CHOROBA NOWOTWOROWA</td>
                    <td></td>
                    <td>50 zł</td>
                    <td></td>
                    <td>50 zł</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>POBYT DZIECKA w SZPITALU w NW</td>
                    <td></td>
                    <td>20 zł</td>
                    <td></td>
                    <td>20 zł</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>POBYT DZIECKA na OIOM</td>
                    <td></td>
                    <td>500 zł</td>
                    <td></td>
                    <td>500 zł</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>ŚWIADCZENIA LEKOWE (po POBYCIE DZIECKA w SZPITALU)</td>
                    <td></td>
                    <td>65 zł</td>
                    <td></td>
                    <td>65 zł</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>ZGON DZIECKA</td>
                    <td></td>
                    <td>5 000 zł</td>
                    <td></td>
                    <td>5 000 zł</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>ZGON DZIECKA w NW</td>
                    <td></td>
                    <td>10 000 zł</td>
                    <td></td>
                    <td>10 000 zł</td>
                    <td></td>
                    <td></td>
                <tr>
                    <td class="cell-dark">ZGON RODZICÓW / TEŚCIÓW</td>
                    <td>1 500 zł</td>
                    <td>1 500 zł</td>
                    <td>2 000 zł</td>
                    <td>2 000 zł</td>
                    <td>2 500 zł</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="cell-dark">ZGON RODZICÓW / TEŚCIÓW w NW</td>
                    <td>3 000 zł</td>
                    <td>3 000 zł</td>
                    <td>4 000 zł</td>
                    <td>4 000 zł</td>
                    <td>5 000 zł</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="cell-dark">ZGON RODZICÓW / TEŚCIÓW w NW KOMUNIKACYJNYM</td>
                    <td>4 500 zł</td>
                    <td>4 500 zł</td>
                    <td>6 000 zł</td>
                    <td>6 000 zł</td>
                    <td>7 500 zł</td>
                    <td></td>
                </tr>
                <tr>
                    <td>CENA od Os. m/c</td>
                    <td>80 zł</td>
                    <td>80 zł</td>
                    <td>100 zł</td>
                    <td>100 zł</td>
                    <td>226 zł</td>
                    <td>220 zł</td>
                </tr>
                <tr>
                    <td colspan="5" class="cell-darker">E-PRZYCHODNIA (całodobowy nielimitowany dostep do 19 lekarzy specjalistów) + badania laboratoryjne (1 x w ciagu roku polisowego)
                        <ul>
                            <li>E-WIZYTA</li>
                            <li>E-SKIEROWANIE</li>
                            <li>E-RECEPTA</li>
                            <li>E-ZWOLNIENIE</li>
                        </ul>
                    </td>
                    <td class="cell-white"></td>
                    <td class="cell-darker">TAK</td>
                </tr>
                <tr>
                    <td colspan="5" class="cell-darker">PAKIET KARDIOLOGICZNY - DODATKOWO w ZAKRESIE:
                        <ol>
                            <li>POWTÓRNA OPINIA KARDIOLOGICZNA</li>
                            <li>PEŁNA DIAGNOSTYKA KARDIOLOGICZNA z BADANIAMI</li>
                            <li>KONSULTACJE LEKARSKIE</li>
                            <li>DODATKOWA WYPŁATA ŚWIADCZENIA 35 000 zł (8 chorób: UDAR, ZAWAŁ, KARDIOMIOPATIA, OPERACJE na NACZYNIACH WIEŃCOWYCH, OPERACJE TĘTNIAKA MÓZGU, OPERACJA ZASTAWEK SERCA, OPERACJA WSZCZEPIENIA PROTEZY AORTALNEJ, TRANSPLANTACJA MIĘŚNIA SERCOWEGO)</li>
                            <li>DODATKOWA WYPŁATA ŚWIADCZENIA 8 750 zł (MAŁOINWAZYJNA OPERACJA ZASTAWEK SERCA, OPERACJA na NACZYNIACH WIEŃCOWYCH bez OTWIERANIA KLATKI PIERSIOWEJ, UDAR MÓZGU bez UTRWALONYCH NASTĘPSTW)</li>
                        </ol>
                    </td>
                    <td class="cell-white"></td>
                    <td class="cell-darker">TAK</td>
                </tr>
                <tr>
                    <td colspan="5" class="cell-darker">PAKIET ONKOLOGICZNY DODATKOWO  w ZAKRESIE:
                        <ol>
                            <li>POWTÓRNA OPINIA ONKOLOGICZNA</li>
                            <li>PEŁNA DIAGNOSTYKA ONKOLOGICZNA z BADANIAMI</li>
                            <li>KONSULTACJE LEKARSKIE</li>
                            <li>DODATKOWA WYPŁATA ŚWIADCZENIA 20 000 zł za ZDIAGNOZOWANIA CHOROBY NOWOTWOROWEJ oraz 2 000 zł w PRZYPADKU ZDIAGNOZOWANIA NOWOTWORU o GRANICZNEJ ZŁOŚLIWOŚCI.
                                <div>
                                    <strong>UWAGA: </strong><span class="warning-text">
                                        PAKIET DIAGNOSTYCZNY ZAWIERA 2 x BADANIE PET, czyli:
                                        <ul>
                                            <li>badanie PET w przypadku podejrzenia</li>
                                            <li>badanie PET w przypadku potwierdzenia choroby nowotworowej.</li>
                                        </ul>
                                    </span>
                                </div>
                            </li>
                        </ol>
                    </td>
                    <td class="cell-white"></td>
                    <td class="cell-darker">TAK</td>
                </tr>
            </tbody>
        </table>
    </div>

</BaseLayout>