.footer-container {
    background: rgb(35,35,35);
    background: linear-gradient(0deg, rgba(35,35,35,1) 0%, rgba(50,50,50,1) 100%);
    font-family: 'Noto Sans', sans-serif;
}

.upper-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.lower-container {
    /* background-color: #232323; */
}

.container-left {
    margin: 3% 2.5% 0 5%;
}

.container-right {
    margin: 3% 5% 0 2.5%;
}

.copyright-link {
    font-size: .8rem;
}

.links-container {
    padding-left: .4rem;
}

.footer-links {
    padding: 0;
    position: relative;
    color: var(--sunset-glow-white);
    list-style: none;
}

.footer-links li {
    padding-bottom: .4rem;
}

.footer-link {
    position: relative;
    text-decoration: none;
    font-size: .8rem;
}

.footer-link::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: -0.25rem;
    left: 0;
    background-color: var(--sunset-glow-orange);
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
}

.footer-link:hover::before {
    transform: scaleX(1);
}

.footer-link:hover {
    color: var(--sunset-glow-orange);
    transition: 0.3s ease-in-out;
}

.footer-logo {
    max-width: 25rem;
    filter: grayscale(100%);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-desc {
    font-size: 1rem;
    padding: 0 1rem 0 1rem;
    text-align: center;
}

.desc-line1 {
    margin-top: -1rem;
    margin-bottom: 2rem;
    color: #ececec;
}

.desc-line1:hover {
    color: var(--sunset-glow-orange);
    transition: 0.3s ease-in-out;
}

.section-title-links {
    font-size: 1rem;
    color: var(--sunset-glow-white);
}

.section-title {
    font-size: 1rem;
}

.divider-links {
    border-top: 5px solid #ececec;
    height: 1rem;
    max-width: 15%;
    margin-bottom: -0.5rem;
}

.divider-contact {
    border-top: 5px solid #ececec;
    height: 1rem;
    max-width: 15%;
    /* margin-left: .4rem; */
    margin-bottom: -0.5rem;
}

.info-container {
    padding-left: .4rem;
    color: #ececec;
    font-size: .8rem;
}

.container-bottom {
    display: flex;
    justify-content: space-between;
    margin: 0 2.5% 0 2.5%;
    font-size: .8rem;
    color: var(--sunset-glow-white);
}

.copyright-container-left {
    width: 50%;
}

.copyright-container-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.pl4-name {
    font-weight: bold;
}

.copyright-link {
    position: relative;
    text-transform: none;
    font-weight: normal;
    text-decoration: none;
}

.copyright-link::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: -0.25rem;
    left: 0;
    background-color: var(--sunset-glow-orange);
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
}

.copyright-link:hover::before {
    transform: scaleX(1);
}

.copyright-link:hover {
    color: var(--sunset-glow-orange);
    transition: 0.3s ease-in-out;
}

.effp-cert-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.effp-logo {
    max-width: 8rem;
    filter: grayscale(100%);
}

.effp-info-container {
    text-align: center;
    color: #ececec;
}

.effp-partner {
    font-weight: bold;
    text-transform: uppercase;
}

a:link{color:inherit}
a:active{color:inherit}
a:visited{color:inherit}
a:hover{color:inherit}