html {
    font-family: sans-serif;
    background-color: #ddd0c8;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 100ch;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
  }