html {
    font-family: sans-serif;
    /* background-color: var(--sunset-glow-cream); */
    background-color: #faf0e6;
}

body {
    margin: 0 auto;
    width: 100%;
    
}

* {
    box-sizing: border-box;
  }

.main-container {
  max-width: 120ch;
  padding: 1rem;
  line-height: 1.5;
  margin: auto;
}

  /* Color palettes */

  :root {
    --sunset-glow-orange: #ff9f1c;
    --sunset-glow-yellow: #ffbf69;
    --sunset-glow-brown: #cb997e;
    --sunset-glow-cream: #ffe8d6;
    --sunset-glow-white: #fffcf6;
  }

  /* Fonts */

  @font-face {
    font-family: 'Agdasima';
    src: url('/fonts/static/Agdasima-Regular.ttf') format('woff2');
    font-style: normal;
  }

  @font-face {
    font-family: 'Agdasima Bold';
    src: url('/fonts/static/Agdasima-Bold.ttf') format('woff2');
    font-style: bold;
  }

  @font-face {
    font-family: 'Badeen Display';
    src: url('/fonts/static/BadeenDisplay-Regular.ttf') format('woff2');
    font-style: normal;
  }

  @font-face {
    font-family: 'Coda';
    src: url('/fonts/static/Coda-Regular.ttf') format('woff2');
    font-style: normal;
  }

  @font-face {
    font-family: 'Coda Bold';
    src: url('/fonts/static/Coda-Bold.ttf') format('woff2');
    font-style: bold;
  }

  @font-face {
    font-family: 'Modak';
    src: url('/fonts/static/Modak-Regular.ttf') format('woff2');
    font-style: normal;
  }

  @font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/static/NotoSans-Regular.ttf') format('woff2');
    font-style: normal;
  }

  @font-face {
    font-family: 'Noto Sans Bold';
    src: url('/fonts/static/NotoSans-Bold.ttf') format('woff2');
    font-style: bold;
  }

  @font-face {
    font-family: 'Oi';
    src: url('/fonts/static/Oi-Regular.ttf') format('woff2');
    font-style: normal;
  }