.banner-container {
    /* border: 1px solid black; */
    padding: 1.5rem;
}

.banner {
    font-size: 1.75rem;
    text-align: center;
    color: #323232;
    font-family: 'Noto Sans', sans-serif;
}

.video-container {
    margin-bottom: 2rem;
}

.video-player {
    aspect-ratio: 16 / 9;
    width: 100%;
}