.banner-container {
    padding: 1.5rem;
}

.banner {
    font-size: 1.75rem;
    text-align: center;
    color: #323232;
    font-family: 'Noto Sans', sans-serif;
}

.buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.form-field-checkbox {
    display: flex;
}

.form-header {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Noto Sans', sans-serif;
}

.keyword {
    color: var(--sunset-glow-orange);
    font-weight: bold;
    font-size: 1.4rem;
}

.form-label {
    font-weight: bold;
    margin: 1rem 0 0.5rem 0;
    display: block;
}

.form-label-checkbox {
    font-weight: bold;
    font-size: 0.8rem;
    margin: 1rem 0 0.5rem 0;
    display: inline-block;
    cursor: pointer;
}

.offer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    max-width: 600px;
    margin: auto;
    background: linear-gradient(135deg,rgba(203, 153, 126, 1) 0%, rgba(181, 134, 112, 1) 50%);
    border-bottom-left-radius: 2rem;
    margin-bottom: 2rem;
    font-family: 'Noto Sans', sans-serif;
    /* margin-top: .5rem; */
}

.form-checkbox {
    width: .9rem;
    height: .9rem;
    margin-right: 0.5rem;
    margin-top: 1.2rem;
}

.offer-button-container {
    margin-top: 1rem;
}

.offer-button {
    /* background-color: var(--sunset-glow-brown); */
    background: linear-gradient(135deg,rgba(203, 153, 126, 1) 0%, rgba(183, 138, 113, 1) 50%);
    /* border-left: .2rem solid #dbb8a5;
    border-top: .2rem solid #dbb8a5;
    border-right: .2rem solid #8e6b58;
    border-bottom: .2rem solid #8e6b58; */
    align-items: center;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.offer-button::after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.offer-button:hover::after {
    transform: translate(0, 0);
}

.offer-button:active {
    background-color: #ffdeda;
    outline: 0;
}

.offer-button:hover {
    outline: 0;
}

.send-button {
    background: linear-gradient(135deg,rgba(255, 159, 28, 1) 0%, rgba(250, 178, 77, 1) 50%);background: linear-gradient(135deg,rgba(255, 159, 28, 1) 0%, rgba(230, 145, 28, 1) 50%);
    margin-bottom: 1rem;
}

.offer-button-icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.offer-link {
    font-size: 1.2rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.submit-button {
    background: none;
    border: none;
    box-shadow: none !important;
}

.error-message {
    color: #d93025;
    font-size: 0.8rem;
    margin: -0.2rem 0 1rem;
    display: none;
}

input {
    width: 100%;
    padding: .3rem;
    border-radius: .35rem;
    line-height: 1.2;
}

input::placeholder {
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.8rem;
}

input[type=checkbox] {
    position: relative;
    bottom: 1px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: .3rem;
    border-radius: .35rem;
    background-color: #fff;
    cursor: pointer;
    /**
        Strzałka
     **/
     appearance: none;
     background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
     background-repeat: no-repeat;
     background-position: right 0.7rem top 50%;
     background-size: 0.65rem auto;
}

.custom-select {
    min-width: 300px;
    position: relative;
}

/* .custom-select::before,
.custom-select::after {
    --size: 0.3rem;
    position: absolute;
    content: "";
    right: 1rem;
    pointer-events: none;
    margin-top: 1.2rem;
}

.custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
}

.custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
} */

select::-ms-expand {
    display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
}

textarea {
    width: 100%;
    padding: .3rem;
    border-radius: .35rem;
    line-height: 1.2;
    resize: none;
    border: none;
}

textarea::placeholder {
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.8rem;
}

input:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
    transition: 0.2s;
}

/* Arrow */

.arrow {
	position: relative;
    margin: -30px auto;
    width: 675px;
}

.arrow .curve {
	border: 4px solid var(--sunset-glow-orange);
	border-color: transparent transparent transparent var(--sunset-glow-orange);
	height: 70px;
	width: 200px;
	border-radius: 530px 0 0 550px;
}

.arrow .point {
	position: absolute;
	left: 12px;
	top: 60px;
}

.arrow .point:before, .arrow .point:after {
	border: 3px solid var(--sunset-glow-orange);
	height: 25px;
	content: "";
	position: absolute;
}

.arrow .point:before {
	top: -11px;
	left: -11px;
	transform:rotate(-74deg);
	-webkit-transform:rotate(-74deg);
    -moz-transform:rotate(-74deg);
    -ms-transform: rotate(-74deg);
}

.arrow .point:after {
    top: -20px;
    left: 5px;
    transform:rotate(12deg);
    -webkit-transform: rotate(12deg);
    -moz-transform:rotate(12deg);
    -ms-transform: rotate(12deg);
}

/* @media (min-width: 768px) {
  .offer-button {
    padding: 0 40px;
  }
} */