.table-container {
    height: 600px;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    margin-bottom: 2rem;
}

.table-container > .offer-table {
    width: 100%;
}

.offer-table {
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.15);
    border-collapse: separate;
    border-spacing: 0;
    font-size: .8rem;
    z-index: 0;
}

.offer-table th {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    z-index: 1 !important;
    background-color: #b2d4ea;
}

.offer-table td {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}

/* td:first-child, th:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
}

td:nth-child(2) {
    position: sticky;
    left: 0;
    z-index: 1;
} */

/* th:first-child, th:nth-child(2) {
    z-index: 3;
} */

.offer-table th:first-child,
.offer-table td:first-child {
    border-left: 1px solid #000;
}

.offer-table thead, .offer-table th {
    padding: .5rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #000;
    position: sticky;
    top: 0;
}

.offer-table thead th {
    padding: .5rem;
    text-align: center;
    border: 1px solid #000;
}

/* .offer-table tbody tr {
    scroll-snap-align: start;
} */

.offer-table tbody, 
.offer-table td:first-child, 
.offer-table td:nth-child(2) {
    position: sticky;
    left: 0;
    top: auto;
    z-index: 3;
}

.offer-table tbody td {
    padding: .5rem;
    text-align: center;
    border: 1px solid #000;
}

.cell-sticky {
    left: 0;
    position: sticky;
    top: auto;
    /* z-index: 4 !important; */
}

/* .offer-table .cell-sticky-2 {
    left: 0;
    position: sticky;
    top: auto;
} */

.offer-table .cell-front {
    z-index: 4 !important;
}

.offer-table .cell-silent {
    z-index: 0 !important;
    position: relative !important;
}

.table-caption {
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

.cell-positive {
    background-color: #c0ffad;
}

.cell-negative {
    background-color: #ffadad;
}

.cell-neutral {
    background-color: #b2d4ea;
}

.cell-neutral-dark {
    background-color: #6aaee6;
}

.cell-index {
    background-color: #faffd1;
}

.cell-white {
    background-color: #f0f0f0;
}

.company-header {
    color: #224058;
    font-weight: bold;
}

.assistance-header {
    color: #3d729d;
    font-weight: bold;
}