---
import BaseLayout from '../layouts/BaseLayout.astro';

import '../styles/index.css';

const pageTitle = 'Start • Ubezpieczenie grupowe'
---

<BaseLayout pageTitle={pageTitle}>
	<div class="banner-frame">
		<h3 class="banner">Tworzymy wyższy wymiar ubezpieczeń grupowych</h3>
	</div>
</BaseLayout>
