---
import BaseLayout from '../layouts/BaseLayout.astro';

import '../styles/zespol.css';

const pageTitle = 'Nasz zespół • Ubezpieczenie grupowe'
---

<BaseLayout pageTitle={pageTitle}>
	<div class="banner-container">
        <h3 class="banner">Poznaj nas bliżej</h3>
    </div>

    <!-- <h3 class="person-name">
        Marcin Dudek
    </h3> -->
    <div class="person-container">
        <div class="person-img-container">
            <img class="person-photo" src="../src/assets/img/dudekmarcin.jpeg" alt="Marcin Dudek" />
        </div>
        <div class="person-description">
            <h3 class="person-name">Marcin Dudek</h3>
            <p class="person-text">
                Doradca finansowy I, II i III stopnia. Absolwent Europejskiej Akademii
                Planowania Finansowego, posiadający międzynarodową licencję konsultanta
                finansowego, a także sygnatariusz kodeksu etyki zawodowej. W branży 
                ubezpieczeniowej pracuje od ponad 20 lat, przechodząc w tym czasie przez
                wszystkie szczeble doradztwa ubezpieczonego. Jest także autorem wielu 
                publikacji z zakresu oszczędzania, ubezpieczania i zarządzania ryzykiem.
            </p>
        </div>
    </div>

    <h2 class="team-section-title">Agenci ubezpieczeniowi</h2>

    <div class="agents-container">
        <div class="upper-con">
            <div class="person-container-agent">
                <div class="person-img-container">
                    <ion-icon class="person-photo-icon-agent" name="person"></ion-icon>
                </div>
                <div class="person-description-agent">
                    <p class="person-name">
                        Robert
                    </p>
                    <p class="person-position">
                        Agent Ubezpieczeniowy
                    </p>
                    <div class="person-contact-details-container">
                        <div class="person-contact-details">
                            <ion-icon class="person-contact-detail-icon detail-phone" name="call"></ion-icon>
                            <p>+48 123 124 125</p>
                        </div>
                        <div class="person-contact-details">
                            <ion-icon class="person-contact-detail-icon" name="mail"></ion-icon>
                            <p>r.example@cuizr.pl</p>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="person-container-agent">
                <div class="person-img-container">
                    <ion-icon class="person-photo-icon-agent" name="person"></ion-icon>
                </div>
                <div class="person-description-agent">
                    <p class="person-name">
                        Mirela Sobczak
                    </p>
                    <p class="person-position">
                        Agent Ubezpieczeniowy
                    </p>
                    <div class="person-contact-details-container">
                        <div class="person-contact-details">
                            <ion-icon class="person-contact-detail-icon detail-phone" name="call"></ion-icon>
                            <p>+48 509 256 682</p>
                        </div>
                        <div class="person-contact-details">
                            <ion-icon class="person-contact-detail-icon" name="mail"></ion-icon>
                            <p>m.sobczak@cuizr.pl</p>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="person-container-agent">
                <div class="person-img-container">
                    <ion-icon class="person-photo-icon-agent" name="person"></ion-icon>
                </div>
                <div class="person-description-agent">
                    <p class="person-name">
                        Joanna
                    </p>
                    <p class="person-position">
                        Agent Ubezpieczeniowy
                    </p>
                    <div class="person-contact-details-container">
                        <div class="person-contact-details">
                            <ion-icon class="person-contact-detail-icon detail-phone" name="call"></ion-icon>
                            <p>+48 123 124 125</p>
                        </div>
                        <div class="person-contact-details">
                            <ion-icon class="person-contact-detail-icon" name="mail"></ion-icon>
                            <p>j.example@cuizr.pl</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="lower-con">
            <div class="person-container-agent">
                <div class="person-img-container">
                    <ion-icon class="person-photo-icon-agent" name="person"></ion-icon>
                </div>
                <div class="person-description-agent">
                    <p class="person-name">
                        Monika
                    </p>
                    <p class="person-position">
                        Agent Ubezpieczeniowy
                    </p>
                    <div class="person-contact-details-container">
                        <div class="person-contact-details">
                            <ion-icon class="person-contact-detail-icon detail-phone" name="call"></ion-icon>
                            <p>+48 123 124 125</p>
                        </div>
                        <div class="person-contact-details">
                            <ion-icon class="person-contact-detail-icon" name="mail"></ion-icon>
                            <p>m.example@cuizr.pl</p>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="person-container-agent">
                <div class="person-img-container">
                    <ion-icon class="person-photo-icon-agent" name="person"></ion-icon>
                </div>
                <div class="person-description-agent">
                    <p class="person-name">
                        Adam
                    </p>
                    <p class="person-position">
                        Agent Ubezpieczeniowy
                    </p>
                    <div class="person-contact-details-container">
                        <div class="person-contact-details">
                            <ion-icon class="person-contact-detail-icon detail-phone" name="call"></ion-icon>
                            <p>+48 123 124 125</p>
                        </div>
                        <div class="person-contact-details">
                            <ion-icon class="person-contact-detail-icon" name="mail"></ion-icon>
                            <p>a.example@cuizr.pl</p>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="person-container-agent">
                <div class="person-img-container">
                    <ion-icon class="person-photo-icon-agent" name="person"></ion-icon>
                </div>
                <div class="person-description-agent">
                    <p class="person-name">
                        Marcin
                    </p>
                    <p class="person-position">
                        Agent Ubezpieczeniowy
                    </p>
                    <div class="person-contact-details-container">
                        <div class="person-contact-details">
                            <ion-icon class="person-contact-detail-icon detail-phone" name="call"></ion-icon>
                            <p>+48 123 124 125</p>
                        </div>
                        <div class="person-contact-details">
                            <ion-icon class="person-contact-detail-icon" name="mail"></ion-icon>
                            <p>m.example@cuizr.pl</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2 class="team-section-title">Administracja</h2>

    <div class="administration-container">
        <div class="person-container-agent">
            <div class="person-img-container">
                <ion-icon class="person-photo-icon-agent" name="person"></ion-icon>
            </div>
            <div class="person-description-agent">
                <p class="person-name">
                    Oliwia Dudek
                </p>
                <p class="person-position">
                    Administracja
                </p>
                <div class="person-contact-details-container">
                    <div class="person-contact-details">
                        <ion-icon class="person-contact-detail-icon detail-phone" name="call"></ion-icon>
                        <p>+48 723 042 001</p>
                    </div>
                    <div class="person-contact-details">
                        <ion-icon class="person-contact-detail-icon" name="mail"></ion-icon>
                        <p>o.dudek@cuizr.pl</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="person-container-agent">
            <div class="person-img-container">
                <ion-icon class="person-photo-icon-agent" name="person"></ion-icon>
            </div>
            <div class="person-description-agent">
                <p class="person-name">
                    Daria
                </p>
                <p class="person-position">
                    Administracja
                </p>
                <div class="person-contact-details-container">
                    <div class="person-contact-details">
                        <ion-icon class="person-contact-detail-icon detail-phone" name="call"></ion-icon>
                        <p>+48 123 124 125</p>
                    </div>
                    <div class="person-contact-details">
                        <ion-icon class="person-contact-detail-icon" name="mail"></ion-icon>
                        <p>d.example@cuizr.pl</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</BaseLayout>