---
import BaseLayout from '../layouts/BaseLayout.astro';

import '../styles/zespol.css';

const pageTitle = 'Nasz zespół • Ubezpieczenie grupowe'
---

<BaseLayout pageTitle={pageTitle}>
	<div class="banner-container">
        <h3 class="banner">Poznaj nas bliżej</h3>
    </div>

    <h3 class="person-name">
        Marcin Dudek
    </h3>
    <div class="person-container">
        <div class="person-img-container">
            <img class="person-photo" src="../src/assets/img/dudekmarcin.jpeg" alt="Marcin Dudek" />
        </div>
        <div class="person-description">
            <p class="person-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Praesent ac dolor non velit scelerisque facilisis eget eget turpis. 
                Praesent neque ligula, faucibus id cursus at, rutrum nec nulla. 
                In consectetur, ipsum fermentum tempus placerat, ligula elit interdum mauris, 
                a semper ante tellus sed nisi.
            </p>
        </div>
    </div>
    <div class="agents-container">
        <div class="upper-con">
            <div class="person-container-agent">
                <div class="person-img-container">
                    <ion-icon class="person-photo-icon-agent" name="person"></ion-icon>
                </div>
                <div class="person-description-agent">
                    <p class="person-text">
                        Imię Nazwisko
                    </p>
                    <p>
                        Agent Ubezpieczeniowy
                    </p>
                </div>
            </div>
    
            <div class="person-container-agent">
                <div class="person-img-container">
                    <ion-icon class="person-photo-icon-agent" name="person"></ion-icon>
                </div>
                <div class="person-description-agent">
                    <p class="person-text">
                        Opis pracownika
                    </p>
                    <p>
                        Agent Ubezpieczeniowy
                    </p>
                </div>
            </div>
    
            <div class="person-container-agent">
                <div class="person-img-container">
                    <ion-icon class="person-photo-icon-agent" name="person"></ion-icon>
                </div>
                <div class="person-description-agent">
                    <p class="person-text">
                        Opis pracownika
                    </p>
                    <p>
                        Agent Ubezpieczeniowy
                    </p>
                </div>
            </div>
        </div>

        <div class="lower-con">
            <div class="person-container-agent">
                <div class="person-img-container">
                    <ion-icon class="person-photo-icon-agent" name="person"></ion-icon>
                </div>
                <div class="person-description-agent">
                    <p class="person-text">
                        Opis pracownika
                    </p>
                    <p>
                        Agent Ubezpieczeniowy
                    </p>
                </div>
            </div>
    
            <div class="person-container-agent">
                <div class="person-img-container">
                    <ion-icon class="person-photo-icon-agent" name="person"></ion-icon>
                </div>
                <div class="person-description-agent">
                    <p class="person-text">
                        Opis pracownika
                    </p>
                    <p>
                        Agent Ubezpieczeniowy
                    </p>
                </div>
            </div>
    
            <div class="person-container-agent">
                <div class="person-img-container">
                    <ion-icon class="person-photo-icon-agent" name="person"></ion-icon>
                </div>
                <div class="person-description-agent">
                    <p class="person-text">
                        Opis pracownika
                    </p>
                    <p>
                        Agent Ubezpieczeniowy
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="administration-container">
        <div class="person-container-agent">
            <div class="person-img-container">
                <ion-icon class="person-photo-icon-agent" name="person"></ion-icon>
            </div>
            <div class="person-description-agent">
                <p class="person-text">
                    Imię Nazwisko
                </p>
                <p>
                    Administracja
                </p>
            </div>
        </div>

        <div class="person-container-agent">
            <div class="person-img-container">
                <ion-icon class="person-photo-icon-agent" name="person"></ion-icon>
            </div>
            <div class="person-description-agent">
                <p class="person-text">
                    Opis pracownika
                </p>
                <p>
                    Administracja
                </p>
            </div>
        </div>
    </div>
</BaseLayout>