---
import '../styles/footer.css';
---

<footer>
    <div class="footer-container">
        <div class="upper-container">
            <div class="container-left">
                <div class="logo-container">
                    <div>
                        <p>
                            <img class="footer-logo" src="../src/assets/logotypes/uglogo1.png" alt="Logo Ubezpieczeń Grupowych" />
                        </p>
                    </div>
                    <div class="logo-desc">
                        <p class="desc-line1">
                            Twoje życie, nasza misja.
                        </p>
                        <p class="desc-line2">
                            Dowiedz się wiecej o naszych usługach, jesteśmy tutaj, by Ci pomóc.
                        </p>
                    </div>
                </div>
                <div class="effp-cert-container">
                    <div class="effp-logo-container">
                        <span class="effp-logo-wrapper">
                            <img class="effp-logo" src="../src/assets/FFP_LOGO.png" alt="Logo Certyfikatu EFFP" />
                        </span>
                    </div>
                    <div class="effp-info-container">
                        <p class="xxx">Partner</p>
                        <p>Europejskiej Federacji Doradców Finansowych</p>
                        <p>Lic. EFFP: PL.17.EFG.01680</p>
                    </div>
                </div>
            </div>
            <div class="container-right">
                <div class="links-container">
                    <ul class="footer-links">
                        <li><a href="/">Ubezpieczenia grupowe dla Twoich pracowników</a></li>
                        <li><a href="/o-nas">Kim jesteśmy</a></li>
                        <li><a href="/zespol">Nasz zespół</a></li>
                        <li><a href="/oferta">Przejdź do Oferty</a></li>
                        <li><a href="/kontakt">Kontakt</a></li>
                        <li><a href="https://www.youtube.com/@prywatnel4_pl">YouTube</a></li>
                        <li><a href="/static/regulamin/">Regulamin</a></li>
                        <li><a href="/static/polityka-prywatnosci/">Polityka prywatności</a></li>
                    </ul>
                </div>
                <div class="info-container">
                    <p class="pl4-name">Prywatnel4.pl Sp. z o.o.</p>
                    <p>ul. Zebrzydowicka 35, 44-210 Rybnik</p>
                    <p>NIP:6423236718</p>
                    <p>KRS:0000963774</p>
                    <p>+48 696 043 773</p>
                </div>
            </div>
        </div>
        
        <div class="lower-container">
            <div class="container-bottom">
                <div class="copyright-container-left">
                    <p><span class="pl4-name">PrywatneL4.pl Sp. z o.o.</span> Wszystkie prawa zastrzeżone</p>
                </div>
                <div class="copyright-container-right">
                    <!-- <p>+48 696 043 773</p> -->
                    <a class="copyright-link" href="https://prywatnel4.pl">prywatnel4.pl</a>
                </div>
            </div>
        </div>
    </div>
</footer>