---
import '../styles/footer.css';
---

<footer>
    <div class="footer-container">
        <div class="container-left">
            <div class="logo-container">
                <p>footer</p>
                <p>
                    Twoje życie, nasza misja. Dowiedz się wiecej o naszych usługach. Jesteśmy tutaj by Ci pomóc.
                </p>
            </div>
            <div class="links-container">
                <ul>
                    <li><a href="/">Ubezpieczenia grupowe dla Twoich pracowników</a></li>
                    <li><a href="/o-nas">Kim jesteśmy</a></li>
                    <li><a href="/zespol">Nasz zespół</a></li>
                    <li><a href="/oferta">Przejdź do Oferty</a></li>
                    <li><a href="/kontakt">Kontakt</a></li>
                    <li><a href="https://www.youtube.com/">YouTube</a></li>
                </ul>
            </div>
        </div>
        <div class="container-right">
            <div class="info-container">
                <p>Prywatnel4.pl Sp. z o.o.</p>
                <p>ul. Zebrzydowicka 35, 44-210 Rybnik</p>
                <p>NIP:6423236718 KRS:0000963774</p>
                <p>+48 696 043 773</p>
            </div>
            <div class="effp-cert-container">
                <p>Certyfikat EFFP</p>
            </div>
        </div>
    </div>
</footer>