---
import '../styles/header.css';
---

<div class="nav-container">
    <div class="nav-wrapper">
        <div class="nav-link-logo-container">
            <a class="nav-link-logo" href="/">
                <img class="header-logo" src="../../src/assets/logotypes/uglogo1.png" alt="Logo Ubezpieczeń Grupowych" />
            </a>
        </div>
        <div><a class="nav-link" href="/zespol">Zespół</a></div>
        <div class="divider"><p>•</p></div>
        <div><a class="nav-link" href="/oferta">Oferta</a></div>
        <div class="divider"><p>•</p></div>
        <div><a class="nav-link" href="/kontakt">Kontakt</a></div>
        <div class="divider"><p>•</p></div>
        <div><a class="nav-link yt-link" href="https://www.youtube.com/@prywatnel4_pl">YouTube</a></div>
    </div>
</div>