---
import '../styles/header.css';
---

<div class="nav-links">
    <a class="nav-link-logo" href="/">Ubezpieczenia grupowe</a>
    <a href="/o-nas">Kim jesteśmy</a>
    <a href="/zespol">Nasz zespół</a>
    <a href="/oferta">Przejdź do Oferty</a>
    <a href="/kontakt">Kontakt</a>
    <a href="https://www.youtube.com/@prywatnel4_pl">YouTube</a>
</div>