---
---

<div class="nav-links">
    <a href="/">Ubezpieczenia grupowe dla Twoich pracowników</a>
    <a href="/o-nas">Kim jesteśmy</a>
    <a href="/zespol">Nasz zespół</a>
    <a href="/oferta">Przejdź do Oferty</a>
    <a href="/kontakt">Kontakt</a>
    <a href="https://www.youtube.com/">YouTube</a>
</div>