---
import '../styles/header.css';
---

<!-- <ul class="nav-links">
    <li><a class="nav-link-logo" href="/">
        <img class="header-logo" src="../src/assets/logotypes/uglogo1.png" alt="Logo Ubezpieczeń Grupowych" />
    </a></li>
    <li><a href="/o-nas">Kim jesteśmy</a></li>
    <li><a href="/zespol">Nasz zespół</a></li>
    <li><a href="/oferta">Przejdź do Oferty</a></li>
    <li><a href="/kontakt">Kontakt</a></li>
    <li><a href="https://www.youtube.com/@prywatnel4_pl">YouTube</a></li>
</ul> -->

<div class="nav-container">
    <div class="nav-wrapper">
        <div>
            <a class="nav-link-logo" href="/">
                <img class="header-logo" src="../src/assets/logotypes/uglogo1.png" alt="Logo Ubezpieczeń Grupowych" />
            </a>
        </div>
        <div><a href="/o-nas">Kim jesteśmy</a></div>
        <div class="divider"><p>•</p></div>
        <div><a href="/zespol">Nasz zespół</a></div>
        <div class="divider"><p>•</p></div>
        <div><a href="/oferta">Przejdź do Oferty</a></div>
        <div class="divider"><p>•</p></div>
        <div><a href="/kontakt">Kontakt</a></div>
        <div class="divider"><p>•</p></div>
        <div><a href="https://www.youtube.com/@prywatnel4_pl">YouTube</a></div>
    </div>
</div>