---
import BaseLayout from './BaseLayout.astro';

import '../styles/markdown.css';

const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <h1 class="markdown-page-title">{frontmatter.title}</h1>
    <div class="img-container">
        <img class="markdown-page-img" src={frontmatter.url} alt={frontmatter.alt} />
    </div>
    <slot />
</BaseLayout>